%awe-reuse-sub {
  display: flex;
  align-items: center;
  background: #F7F7FA;
  font-family: PingFangSC-Regular;
  width: 250px;
  cursor: pointer;

  &:hover,&:focus {
    background: #E5E5EA;

    .awe-sub-header {
      .awe-sub-head {
        background: #1675E0;
      }
    }
    .awe-sub-font {
      color: #1675E0;
    }
  }
}

.awe-sub-sidenav {
  height: 50px;
  font-size: 16px;
  @extend %awe-reuse-sub;

  .awe-sub-header {
    display: flex;
    align-items: center;
    width: 56px;
    height: 50px;

    .awe-sub-head {
      position: relative;
      width: 16px;
      height: 16px;
      background: #8E8E93;
      border-radius: 50%;
      left: 20px;
    }
  }


  .awe-sub-font {
    position: relative;
    color: #8E8E93;
  }
}

.awe-right {
  display: flex;
  margin-left: auto;
  align-items: center;
  width: 194px;
}

.awe-sub-child {
  height: 42px;
  font-size: 14px;
  @extend %awe-reuse-sub;

  .awe-sub-font {
    position: relative;
    color: #8E8E93;
  }
}

.awe-sub-footer {
  position: relative;
  margin-left: auto;
  width: 20px;
  height: 20px;
  right: 20px;
  cursor: pointer;
  .awe-sub-icon {
    position: relative;
    left: 6px;
    top: 6px;
    width: 6px;
    height: 6px;
    border-top: 1px solid #8E8E93;
    border-right: 1px solid #8E8E93;
    transform: rotate(135deg);
  }

}

.disabled {

  .awe-sub-sidenav,
  .awe-sub-child {

    &hover,
    &focus {
      background: #F7F7FA;

      .awe-sub-head {
        background: #C5C6C7;
      }

      .awe-sub-font {
        color: #C5C6C7;
      }
    }
  }

  .awe-sub-head {
    background: #C5C6C7;
  }

  .awe-sub-font {
    color: #C5C6C7;
  }
}
