.awe-badge {
  position: relative;
  display: inline-block;
  .awe-badge-common{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    -webkit-transform: translate(50%,-50%);
    transform: translate(50%,-50%);
  }
  .awe-badge-default{
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: #f44336;
    padding: 0;
  }
  .awe-badge-content{
    background-color: #f44336;
    border-radius: 8px;
    font-size: 12px;
    line-height: 16px;
    padding: 0 5px;
    color: #fff;
  }

}
 
.new-title{
  margin-left: -3.5px;
}
.small{
  width: 4px;
    height: 7px;
    border-radius: 50%;
    margin: 0;
    padding: 0px 3.5px;
}