%awe-reuse-sidanav{
display: flex;
  flex-flow: row wrap;
  background: #F7F7FA;
  min-height: 100%;
}
%awe-reuse-footer{
position: absolute;
    height: 50px;
    border-top: 1px solid #E5E5EA;
    align-self: flex-end;
}
%awe-reuse-icon{
  position: absolute;
      width: 16px;
      height: 16px;
      top: 17px;
      right: 20px;
      cursor:pointer;
}
%awe-reuse-icons{
  position:absolute;
        left:6px;
        top:6px;
        width: 6px;
        height: 6px;
        border-top: 1px solid #8E8E93;
        border-right: 1px solid #8E8E93;
}
.awe-sidenav {
  @extend %awe-reuse-sidanav;
  width: 250px;
  .awe-child {
    width: 250px;
    word-wrap: break-word;
  }

  .awe-sidenav-footer {
    @extend %awe-reuse-footer;
    width: 250px;
    .awe-sidenav-icon {
      @extend %awe-reuse-icon;
      .awe-sidenav-icons {
        @extend %awe-reuse-icons;
        transform: rotate(-135deg);
      }
    }
  }
}
.awe-sidenav-contract{
  @extend %awe-reuse-sidanav;
  width: 56px;
  .awe-child {
    width: 56px;
    word-wrap: break-word;
  }
  .awe-sidenav-footer {
    @extend %awe-reuse-footer;
    width: 56px;
    .awe-sidenav-icon {
      @extend %awe-reuse-icon;
      
      .awe-sidenav-icons{
        @extend %awe-reuse-icons;
        transform: rotate(45deg);
      }
    }
  }
}
