.awe-progress{
  .awe-progress-line{
    width: 100%;
    padding: 8px 12px;
    height: auto;
    align-items:center;
    display:flex;
    .awe-progress-line-outer{
      width: 95%;
      background: #e5e5ea;
      border-radius: 5px;
      .awe-progress-line-inner{
        height: 100%;
        width: 100%;
        .awe-progress-line-bg{
          position: relative;
          border-radius: 5px;
          height: 100%;
        }

      }

    }
    .awe-progress-info{
      padding-left: 10px;
      width: 5%;
      color:#575757
    }
  }
  .awe-progress-circle {
    margin-right: 20px;
    position:relative;
    span{
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      margin: 0;
      padding: 0;
      color: rgba(0,0,0,.65);
      font-size: 1em;
      line-height: 1;
      white-space: normal;
      text-align: center;
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
    }
  }
}