.aweupload{
  position: relative;
  display: inline-block;
  text-align: left;
  cursor: pointer;
  outline: none;
  .aweupload-content{
      .nfile{
      position: absolute;
      width: 110px;
      height: 36px;
      left: 0;
      top: 0;
      opacity: 0;
      filter: alpha(opacity=0);
      cursor: pointer;
    }
  }

  .aweupload-list{
    .aweupload-list-item{
      margin-top: 10px;
      vertical-align:middle;
      width: 300px;
      background: #FFFFFF;
      font-family: PingFangSC-Regular;
      font-size: 14px;
      color: #575757;
      img{
        padding: 7px 0 7px 10px;
        vertical-align:middle;
      }
      .aweupload-list-item-title{
        padding: 5px;
        line-height: 20px;
        a{
          text-decoration:none;
          color: #575757;
        }
      }
      .aweupload-close{
        position: absolute;
        right:10px;
      }
    }
    :hover{
      background: #F7F7FA;
    }
  }
}